<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:config/config.properties</value>
				<value>classpath:config/dao/jdbc.properties</value>
				<value>classpath:config/shiro/shiro.properties</value>
			</list>
		</property>
	</bean>


	<!-- Configuration -->
	<bean id="configurationUtil" class="com.cml.mvc.framework.service.ConfigurationUtil">
		<property name="delegate">
			<bean class="com.cml.mvc.framework.service.impl.ConfigurationReader">
				<property name="configLocation">
					<list>
						<value>config/config.properties</value>
					</list>
				</property>
			</bean>
		</property>
	</bean>

</beans>