<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 数据源 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="user" value="${jdbc.username}"></property>
		<property name="password" value="${jdbc.password}"></property>
		<property name="driverClass" value="${jdbc.driverClassName}" />
		<property name="jdbcUrl" value="${jdbc.url}" />
		<property name="autoCommitOnClose" value="false" />
		<property name="checkoutTimeout" value="${cpool.checkoutTimeout}" />
		<property name="initialPoolSize" value="${cpool.minPoolSize}" />
		<property name="minPoolSize" value="${cpool.minPoolSize}" />
		<property name="maxPoolSize" value="${cpool.maxPoolSize}" />
		<property name="maxIdleTime" value="${cpool.maxIdleTime}" />
		<property name="acquireIncrement" value="${cpool.acquireIncrement}" />
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:config/mybatis-configuration.xml" />
		<!-- 自动扫描beans包名 -->
		<property name="typeAliasesPackage" value="com.cml.mvc.beans"></property>
		<property name="mapperLocations"
			value="classpath:com/cml/mvc/**/resource/*.sql.xml"></property>
	</bean>


	<!-- dao父类 -->
	<bean id="baseDAO" class="org.mybatis.spring.mapper.MapperFactoryBean"
		abstract="true">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>

	<!-- Transaction manager for a single JDBC DataSource -->
	<bean id="txManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- ========================= ASPECT TRANSACTION CONFIGURATION ======================== -->

	<aop:config>
		<aop:pointcut id="entryPointMethod"
			expression="execution(* *..service..*Service.*(..))" />
		<aop:advisor pointcut-ref="entryPointMethod" advice-ref="txAdvice" />
	</aop:config>

	<!-- Transaction advice definition, based on method name patterns. Defaults 
		to PROPAGATION_REQUIRED for all methods whose name starts with "insert" or 
		"update", and to PROPAGATION_REQUIRED with read-only hint for all other methods. -->
	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="import*" rollback-for="java.lang.Throwable" />
			<tx:method name="upload*" rollback-for="java.lang.Throwable" />
			<tx:method name="insert*" rollback-for="java.lang.Throwable" />
			<tx:method name="add*" rollback-for="java.lang.Throwable" />
			<tx:method name="save*" rollback-for="java.lang.Throwable" />
			<tx:method name="delete*" rollback-for="java.lang.Throwable" />
			<tx:method name="update*" rollback-for="java.lang.Throwable" />
			<tx:method name="modify*" rollback-for="java.lang.Throwable" />
			<tx:method name="do*" rollback-for="java.lang.Throwable" />
			<tx:method name="get*" read-only="true" />
		</tx:attributes>
	</tx:advice>

</beans>